.index-header {
  background-color: #1f2937;
  height: 65vh;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-size: 24px;
  color: #f9faf8;
  text-decoration: none;
  padding-left: 10%;
  margin-top: 24px;
}

.logo > img {
  width: 30%;
  height: auto;
  padding-right: 10%;
}

ul {
  display: flex;
  list-style: none;
  gap: 25px;
  padding-right: 10%;
  margin-top: 24px;
}

li a {
  font-size: 18px;
  color: #e5e7eb;
  text-decoration: none;
}

li a:hover {
  border-bottom: 2px solid #3882f6;
  cursor: pointer;
}

.navbar-section {
  display: flex;
  justify-content: space-between;
  margin-top: 5%;
}

.header-content {
  margin: 0px;
  display: block;
  padding-left: 10%;
}

.header-content h1 {
  font-size: 48px;
  font-weight: 900;
  color: #f9faf8;
  margin: 0px;
}

.header-content p {
  font-size: 18px;
  color: #e5e7eb;
}

.header-content button {
  background-color: #3882f6;
  color: #fff;
  padding: 4px 24px;
  border: 2px solid #3882f6;
  border-radius: 4px;
  margin-top: 25px;
}

.header-content button:hover {
  background-color: #fff;
  color: #3882f6;
  cursor: pointer;
  transition: all 0.5s ease-out;
}

.navbar-section > img {
  width: 30%;
  height: auto;
  padding-right: 10%;
}
