footer {
  height: 10vh;
  background-color: #1f2937;
  display: flex;
  justify-content: center;
  gap: 25px;
  position: relative;
  bottom: 0;
  width: 100%;
}

footer h6,
footer h6 a {
  color: #e5e7eb;
  font-size: 18px;
  align-self: center;
  font-weight: 300;
}
