@import "style.css";
@import "footer.css";
@import "navbar.css";

body {
  background-color: #e5e7eb;
}

.hike-title {
  text-align: center;
  padding: 16px;
  font-size: 36px;
  color: #1f2937;
  font-weight: 900;
}

.hike-main {
  display: flex;
  justify-content: center;
  text-align: justify;
  align-items: center;
}

.hikes {
  display: grid;
  height: 100%;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  padding: 20px;
}

.hikes > img {
  border-radius: 4px;
  width: 100%;
}

.hikes > p {
  align-self: center;
  color: #1f2937;
  line-height: 24px;
  padding: 25px;
}
