section.info-section > h1 {
  text-align: center;
  padding: 16px;
  font-size: 36px;
  color: #1F2937;
  font-weight: 900;
}

.main-content {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.image-card {
  margin: 10px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  width: 200px;
}

.image-header img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.image-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
  min-height: 100px;
}

.image-content > p {
  font-size: 14px;
  color: #1F2937;
  text-align: center;
  padding: 5px;
}

.quote-section {
  background-color: #E5E7EB;
  height: 35vh;
  margin-top: 5%;
  margin-bottom: 5%;
  display: flex;
  justify-content: center;
  align-items: center;

}

section.quote-section > h1 {
  font-size: 36px;
  font-weight: 300;
  font-style: italic;
  text-align: justify;
  width: 50%;
  color: #1F2937;
}

section.quote-section > p {
  align-self: end;
  color: #1F2937;
  margin-bottom: 50px;
}

.action-section {
  height: 13vh;
  background-color: #3882F6;
  width: 75%;
  margin: 0 auto;
  margin-bottom: 5%;
  display: flex;
  justify-content: space-between;
}

.action-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.action-content h3 {
  color: #fff;
  padding-left: 20%;
  margin-bottom: 0;
}

.action-content p {
  color: #fff;
  padding-left: 20%;
  font-size: 12px;
  margin-top: 0;
}

.action-button {
  width: 100%;
}

.action-button button {
  color: #fff;
  padding: 4px 24px;
  border: 2px solid #fff;
  border-radius: 4px;
  background-color: transparent;
  margin-top: 40px;
  margin-left: 50%;
}
